<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Welcome to Helen Williamson's enchanting tales for children of all ages. If you love dinosaurs who wear polka dot slippers, if you have pineapple dreams, higgledy-piggledy thoughts or like to escape into fairy tales, you'll love Helen's whimsical world. There's no other world quite like it!" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://helenwilliamsonbooks.com" />
        <meta property="og:site_name" content="Helen Williamson Books" />
        <meta property="og:title" content="<% if (title) { %><%= title %><% } else { %>Helen Williamson Books<% } %>" />
        <title><% if (title) { %><%= title %> | <% } %>Helen Williamson Books</title>
        <meta property="og:description" content="Welcome to Helen Williamson's enchanting tales for children of all ages. If you love dinosaurs who wear polka dot slippers, if you have pineapple dreams, higgledy-piggledy thoughts or like to escape into fairy tales, you'll love Helen's whimsical world. There's no other world quite like it!" />
        <meta name="keywords" content="" />
        <meta property="og:image" content="https://helenwilliamsonbooks.com/images/helen.jpeg" />
        <meta property="og:image:alt" content="Helen L. Williamson" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="<% if (title) { %><%= title %> | <% } %>Helen Williamson Books" />
        <meta name="twitter:description" content="Welcome to Helen Williamson's enchanting tales for children of all ages. If you love dinosaurs who wear polka dot slippers, if you have pineapple dreams, higgledy-piggledy thoughts or like to escape into fairy tales, you'll love Helen's whimsical world. There's no other world quite like it!" />
        <meta name="twitter:url" content="https://helenwilliamsonbooks.com" />
        <meta name="twitter:image" content="https://helenwilliamsonbooks.com/images/helen.jpeg" />
        <meta name="twitter:image:alt" content="Helen Williamson Books" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
        <link rel="manifest" href="/favicons/site.webmanifest" />
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#00aba9" />
        <meta name="msapplication-TileColor" content="#00aba9" />
        <meta name="theme-color" content="#ffffff" />

        <link rel="stylesheet" href="/styles/styles.css" />

        <script src="/scripts/image-popup.js" type="module"></script>
        <% if (script) { %>
        <script src="/scripts/<%= script %>.js" type="module"></script>
        <% } %> <% for (let i = 0; i < additionalScripts.length; i++) { %>
        <script src="<%= additionalScripts[i].src %>" <%= additionalScripts[i].properties %>></script>
        <% } %>
    </head>
    <body>
        <div class="header">
            <span class="logo"><a href="/">Helen Williamson Books</a></span>
        </div>
        <nav>
            <ul>
                <li<% if (title && title === 'Home') { %> id="active"<% } %>><a href="/">Home</a></li>
                <li<% if (title && title === 'Books') { %> id="active"<% } %>><a href="/books">Books</a></li>
                <li<% if (title && title === 'Info & Contact') { %> id="active"<% } %>><a href="/contact">Info & Contact</a></li>
            </ul>
        </nav>
        <img src="/images/header.jpg" class="header-image" />
        <div class="container"><%- body %></div>
        <div id="modal">
            <span id="close-modal">&times;</span>
            <img id="modal-image" />
            <div id="modal-caption"></div>
        </div>
    </body>
</html>
