{{#each books}}
    <span id="{{@key}}"></span>
    <div class="grid book-grid">
        <img class="book-cover popup-image" src="/images/books/{{@key}}.png" alt="{{this.title}} Cover" />
        <div>
            <h2 class="title-link"><a href="#{{@key}}">{{this.title}}</a></h2>
            <div class="book-description">{{{this.description}}}</div>

            <div class="book-data">
                <b>Type:</b>
                {{#if this.prices.paperback}}Paperback{{/if}}{{#if (both this.prices.paperback this.prices.hardcover)}} / {{/if}}{{#if this.prices.hardcover}}Hardcover{{/if}}<br />
                <b>Price:</b>
                {{#if this.prices.paperback}}${{this.prices.paperback}}{{/if}}{{#if (both this.prices.paperback this.prices.hardcover)}} / {{/if}}{{#if
                    this.prices.hardcover
                }}${{this.prices.hardcover}}{{/if}}<br />
                <b>Pages:</b>
                {{this.pages}}<br />
                <b>Dimensions:</b>
                {{this.width}}" x
                {{this.height}}"<br />
                <b>Published:</b>
                {{this.published}},
                {{this.publisher}}<br />
                <b><span data-bs-toggle="tooltip" data-bs-title="International Standard Book Number">ISBN</span>
                    10 /
                    <span data-bs-toggle="tooltip" data-bs-title="International Standard Book Number">ISBN</span>
                    13:</b>
                {{!-- prettier-ignore --}}
                {{this.isbn.[10]}}
                /
                {{!-- prettier-ignore --}}
                {{this.isbn.[13]}}
            </div>

            <div class="purchase-links">
                {{#if this.urls.belleIsle}}<a href="{{this.urls.belleIsle}}" rel="noopener noreferrer" target="_blank"><img src="/images/logos/belle-isle.png" alt="Belle Isle Books" /></a>{{/if}}
                {{#if this.urls.bookshop}}<a href="{{this.urls.bookshop}}" rel="noopener noreferrer" target="_blank"><img src="/images/logos/bookshop.png" alt="Bookshop.org" /></a>{{/if}}
                {{#if this.urls.booksAMillion}}<a href="{{this.urls.booksAMillion}}" rel="noopener noreferrer" target="_blank"><img
                            src="/images/logos/books-a-million.png"
                            alt="Books-A-Million"
                        /></a>{{/if}}
                {{#if this.urls.barnesAndNoble}}<a href="{{this.urls.barnesAndNoble}}" rel="noopener noreferrer" target="_blank"><img
                            src="/images/logos/barnes-and-noble.png"
                            alt="Barnes and Noble"
                        /></a>{{/if}}
                {{#if this.urls.amazon}}<a href="{{this.urls.amazon}}" rel="noopener noreferrer" target="_blank"><img src="/images/logos/amazon.png" alt="Amazon" /></a>{{/if}}
            </div>
        </div>
    </div>
{{/each}}
