<% for (const id of Object.keys(books)) {

const book = books[id];

let type, price;
if (book.prices.paperback && book.prices.hardcover) {
    type = 'Paperback / Hardcover';
    price = `$${book.prices.paperback} / $${book.prices.hardcover}`;
} else if (book.prices.paperback) {
    type = 'Paperback';
    price = `$${book.prices.paperback}`;
} else {
    type = 'Hardcover';
    price = `$${book.prices.hardcover}`;
}
%>

<span id="<%= id %>"></span>
<table class="book-table">
    <tbody>
        <tr>
            <td>
                <img class="book-cover popup-image" src="/images/books/<%= id %>.png" alt="<%= book.title %> Cover" />
            </td>
            <td>
                <div class="paragraph">
                    <strong><a href="#<%= id %>" class="no-link-style"><%= book.title %></a></strong>
                    <%- book.description %>
                    <div>
                        <strong>Type:</strong> <%= type %><br />
                        <strong>Price:</strong> <%= price %><br />
                        <strong>Pages:</strong> <%= book.pages %><br />
                        <strong>Dimensions:</strong> <%= book.width %>" x <%= book.height %>"<br />
                        <strong>Published:</strong> <%= book.published %>, <%= book.publisher %><br />
                        <strong><span class="tooltip-bottom" data-tooltip="International Standard Book Number">ISBN</span> 10 / <span class="tooltip-bottom" data-tooltip="International Standard Book Number">ISBN</span> 13:</strong> <%= book.isbn[10] %> / <%= book.isbn[13] %>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <% if (book.urls['belle-isle']) { %><a href="<%= book.urls['belle-isle'] %>" rel="noopener noreferrer" target="_blank"><img src="/images/logos/belle-isle.png" alt="Belle Isle Books" /></a><% } %>
    <% if (book.urls.bookshop) { %><a href="<%= book.urls.bookshop %>" rel="noopener noreferrer" target="_blank"><img src="/images/logos/bookshop.png" alt="Bookshop.org" /></a><% } %>
    <% if (book.urls['books-a-million']) { %><a href="<%= book.urls['books-a-million'] %>" rel="noopener noreferrer" target="_blank"><img src="/images/logos/books-a-million.png" alt="Books-A-Million" /></a><% } %>
    <% if (book.urls['barnes-and-noble']) { %><a href="<%= book.urls['barnes-and-noble'] %>" rel="noopener noreferrer" target="_blank"><img src="/images/logos/barnes-and-noble.png" alt="Barnes and Noble" /></a><% } %>
    <% if (book.urls.amazon) { %><a href="<%= book.urls.amazon %>" rel="noopener noreferrer" target="_blank"><img src="/images/logos/amazon.png" alt="Amazon" /></a><% } %>
</div>

<% } %>
